<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	cacheResult="false"
	>
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">./tests/php</directory>
		</testsuite>
	</testsuites>
	<extensions>
		<extension class="SpeedUp_Isolated_WP_Tests"/>
	</extensions>
	<coverage>
		<include>
			<directory suffix=".php">src/</directory>
		</include>
		<exclude>
			<directory>src/elasticpress</directory>
			<directory>src/es-wp-query</directory>
		</exclude>
	</coverage>
</phpunit>
